.node {
  width: 2.5vw;
  height: 2.5vw;

  outline: 0.5px solid rgb(178, 217, 247);
  display: inline-table;
}
.node-start {
  background-color: rgba(248, 177, 11, 0.962);
  background-image: url("../../Images/puppy.png");
  background-size: cover;
  background-position: center;
}

.node-weighted {
  background-image: url("../../Images/bone3.png");
  background-size: 2.5vw;
  background-repeat: no-repeat;
  background-position: center;
}

.node-end {
  background-color: rgb(66, 201, 66);
  background-image: url("../../Images/house.png");
  background-size: 2.5vw;
  background-position: center;
}

.node-visited {
  /*background-image: url("https://i.pinimg.com/originals/6d/87/3c/6d873c9d4e0b451c48f12426cac7f244.jpg");
  background-position: center;
  background-size: cover;*/
  background-color: #d184f8db;
  /* #f29191;
  /*#cab8ff;

  /*#b2a4ff;
  /*rgb(178, 133, 220);*/
}

.node-final {
  /*background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQEbw5qY_SQwkIjTvkQDj3assFZDZpk23CDaQ&usqp=CAU");
  /*https://previews.123rf.com/images/levstudio/levstudio1910/levstudio191000097/132295014-brick-pavement-tile-top-view-urban-texture-as-background-stone-pavement-texture-granite-cobblestoned.jpg");
  background-size: cover;
  background-position: center;*/
  background-color: #f1ef64;
  /*#fcffa6;*/
}

.node-wall {
  background-image: url("../../Images/wall1.png");
  background-size: cover;
  background-position: center;
  /*background-color: #495c83;*/
}

.node-weighted-visited {
  background-image: url("https://i.pinimg.com/originals/6d/87/3c/6d873c9d4e0b451c48f12426cac7f244.jpg");
  content: url("../../Images/bone3.png");
  background-size: 2.5vw;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #afb4ff;
}
.node-weighted-final {
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQEbw5qY_SQwkIjTvkQDj3assFZDZpk23CDaQ&usqp=CAU");
  content: url("../../Images/bone3.png");
  background-size: 2.5vw;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #f1ef64;
}
